:root {
	--main-color: #64b7ea;
	--second-color: rgb(61, 118, 153);
	--third-color: #4280A6;
	--fourth-color: #244559;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #080808;
	color: #fff;
}

ul {
    list-style-type: none;
	text-decoration: none;
}

.top-button {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: var(--main-color);
	color: #262626;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	transition: 0.5s;
}

.top-button:hover {
	color: #262626;
	background-color: #ababab;
}

/* header */
#header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/girlwithlaptop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#header .container {
	display: flex;
	padding: 10px 10% 0 10%;
}

#header .logo {
	flex-basis: 40%;
}

#header .sidebar {
    display: inline-flex;
    flex-basis: 60%;
    justify-content: flex-end;
}

#header .logo h1 {	
	font-size: 60px;
	margin: 10px 0;
}

#header .logo span {
	color: var(--main-color);
}

.sidebar {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social-navbar {
	display: none;
}

nav ul li {
	display: inline-flex;
	list-style: none;
	margin: 10px 30px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}

#header .sidebar-icon {
    display: none;
}

.bar1 , .bar2 , .bar3{
    width: 40px;
    height: 3px;
    margin: 8px 0;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.2s;
}

.active .bar1{
    transform: translate(0px , 11px)rotate(45deg);
}

.active .bar2{
    opacity: 0;
}

.active .bar3{
    transform: translate(0px , -11px)rotate(-45deg);
}

.header-text {
	margin-top: 20%;
	padding: 0 10%;
}

.header-text h1 {
	font-size: 70px;
}

.header-text h1 span {
	color: var(--main-color);
}

.header-text h2 {
	font-size: 30px;
	font-weight: 300;
}

.header-text p {
	font-size: 17px;
}

/* about */
#about {
	padding: 80px 0 0 0;
	color: #ababab;
}

#about .container {
	padding: 10px 10% 0 10%;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1 {
	flex-basis: 35%;
}

.about-col-1 img {
	width: 100%;
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 60%;
}

.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.tab-titles {
	display: flex;
	margin: 20px 0 40px;
}

.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.progress {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.skill-container {
  width: 100%;
  align-items: center;
}

.skill-container h2 {
	font-size: 17px;
	padding-bottom: 15px;
}

.skill-container .progress-bar {
	background: #dadada;
	display: block;
	width: 100%;
	height: 15px;
	/* border: 1px solid rgba(0, 0, 0, 0.3); */
	border-radius: 10px;
	overflow: hidden;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
	position: relative;
	overflow: hidden;
}

.skill-container .progress-bar .percentage {
	width: 0;
	height: 100%;
	position: relative;
	background: linear-gradient(135deg, rgb(0, 183, 255)0%, rgb(61, 118, 153)100%);
	transition: all 3s ease-in-out;
	top: 0;
	left: 0;
	display: block;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0 29.5px 0px;
}

.tab-contents ul li span {
	color: var(--main-color);
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}

/* .service */
#services {
	padding: 80px 0 0 0;
}

#services .container {
	padding: 10px 10% 0 10%;
}

.service-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.service-list div {
	background: #262626;
	padding: 40px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.service-list div i {
	font-size: 70px;
	margin-bottom: 30px;
}

.service-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.service-list div p {
	font-size: 14px;
}

.service-list div a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.service-list div:hover {
	background: var(--third-color);
	transform: translateY(-10px);
}

/* portfolio */
#portfolio {
	padding: 80px 0 0 0;
}

#portfolio .container {
	padding: 10px 10% 0 10%;
}

.port-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.port {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.port img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.6), var(--third-color));
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	transition: height 0.5s;
}

.layer h2 {
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.layer p {
	font-size: 17px;
}

.layer a {
	margin-top: 30px;
	color: var(--main-color);
	text-decoration: none;
	font-size: 20px;
	line-height: 50px;
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
}

.layer a:hover {
	color: #fff;
	background-color: var(--fourth-color);
	border: 1px solid var(--fourth-color);
}

.port:hover img {
	transform: scale(1.1);
}

.port:hover .layer {
	height: 100%;
}

/* portfolio btn */
.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid var(--main-color);
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	transition: background 0.5s;
}

/* contact btn */
.btn.btn2 {
	display: block;
	margin: 20px auto 60px auto;
	width: fit-content;
	border: 1px solid var(--main-color);
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #262626;
	transition: background 0.5s;
}

/* service btn */
.btn.btn3 {
	/* display: block; */
	margin: 50px auto;
	width: fit-content;
	background: #ababab;
	border: 1px solid #ababab;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #262626;
	transition: background 0.5s;
}

.btn:hover {
	color: #262626;
	background-color: #ababab;
	border: 1px solid #ababab;
}

.btn.btn2:hover {
	color: #262626;
	background-color: #ababab;
	border: 1px solid #ababab;
}

.btn.btn3:hover {
	color: #fff;
	background-color: var(--fourth-color);
	border: 1px solid var(--fourth-color);
}

/* hobby */
#hobbies {
	padding: 80px 0 0 0;
	color: #ababab;
}

#hobbies .container {
	padding: 10px 10% 0 10%;
}

#hobbies h2 {
	font-size: 30px;
	padding-bottom: 10px;
}

#hobbies p {
	font-size: 17px;
}

/* first row */
.hobbies-col-1 {
	flex-basis: 60%;
}

.hobbies-col-1 img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.hobbies-col-1 ul {
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-auto-flow: dense;
	grid-gap: 8px;
	justify-content: center;
	align-items: start;
	margin: 0 auto;
	padding: 0
}

.hobbies-wrap {
	position: relative;
	margin: 0;
	padding: 50px 50px 50px 0px;
}

.hobbies-col-4 .hobbies-wrap {
	padding-left: 50px;
	padding-right: 0px;
}

.hobbies-wrap ul li {
	position: relative;
}

.hobbies-wrap ul li:nth-child(1) {
	grid-row: span 1;
	grid-template-columns: span 1;
}

.hobbies-wrap ul li:nth-child(2) {
	grid-row: span 1;
	grid-template-columns: span 1;
}

.hobbies-wrap ul li:nth-child(3) {
	grid-row: span 1;
	grid-template-columns: span 1;
}

.hobbies-wrap ul li:nth-child(4) {
	grid-row: span 1;
	grid-template-columns: span 1;
}

.hobbies-wrap ul li:nth-child(5) {
	grid-row: span 1;
	grid-template-columns: span 1;
}

.hobbies-wrap ul li:nth-child(6) {
	grid-row: span 1;
	grid-template-columns: span 1;
}

.hobbies-col-2 {
	flex-basis: 40%;
	padding-top: 50px;
}

/* second row */
.hobbies-col-3 {
	flex-basis: 60%;
}

.hobbies-col-3 img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.hobbies-col-3 ul {
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-auto-flow: dense;
	grid-gap: 8px;
	justify-content: center;
	align-items: start;
	margin: 0 auto;
	padding: 0
}

.hobbies-col-4 {
	flex-basis: 40%;
	padding-top: 50px;
}

/* third row */
.hobbies-col-5 {
	flex-basis: 60%;
}

.hobbies-col-5 img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.hobbies-col-5 ul {
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-auto-flow: dense;
	grid-gap: 8px;
	justify-content: center;
	align-items: start;
	margin: 0 auto;
	padding: 0
}

.hobbies-col-6 {
	flex-basis: 40%;
	padding-top: 50px;
}

/* contact */
#contact {
	padding-top: 80px
}

#contact .container {
	padding: 10px 10% 0 10%;
}

.contact-col-1 {
	flex-basis: 35%;
}

.contact-col-2 {
	flex-basis: 60%;
}

.contact-col-1 p {
	margin-top: 30px;
}

.contact-col-1 p i {
	color: var(--main-color);
	font-size: 25px;
}

.social-icons {
	margin-top: 30px;
}

.social-icons a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
 }

 .social-icons a:hover {
	color: var(--main-color);
	transform: translateY(-5px);
 }

.btn.btn2 {
	display: inline-block;
	background: var(--main-color);
 }

.contact-col-2 {
	width: 100%;
 }

form input, form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
	resize: none;
 }

form .btn2 {
	padding: 14px 60px;
	font-size: 18px;
	cursor: pointer;
}

#msg {
	color: rgb(91, 153, 91);
	margin-top: -40px;
	display: block;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
}

@media only screen and (max-width: 1716px) {
	.hobbies-col-1 ul {
		grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	}
}

@media only screen and (max-width: 1404px) {
	.hobbies-col-1 ul {
		grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	}
}

@media only screen and (max-width: 1600px) {
	.layer {
		padding: 0 25px;
	}
}

@media only screen and (max-width: 1500px) {
	.header-text {
		margin-top: 23%;
	}

	.layer {
		padding: 0 20px;
	}
	
	.layer h2 {
		font-size: 25px;
		font-weight: bolder;
	}
	
	.layer p {
		font-size: 15px;
	}
	
	.layer a {
		font-size: 19px;
	}
}

@media only screen and (max-width: 1400px) {
	.layer a {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 1300px) {
	.header-text {
		margin-top: 27%;
	}

	.layer {
		padding: 0 15px;
	}
	
	.layer p {
		font-size: 14px;
	}

	.layer a {
		font-size: 16px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width: 1280px) {
	#header .sidebar-icon {
		display: block;
	}

	#header .sidebar-icon  {
		z-index: 2;
		top: 35px;
		right: 10%;
		width: fit-content;
		height: auto;
		position: absolute;
		border-radius: 4px;
		cursor: pointer;
	}

	#header .sidebar {
		justify-content: flex-start;
	}

	.sidebar {
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 100vh;
		top: 0;
		background: var(--second-color);
		position: fixed;
		text-align: center;
		z-index: 1;
		right: 0;
		opacity: 0;
		right: -100%;
		pointer-events: none;
		transition: 0.3s;
	}

	nav ul {
		padding-top: 100px;
	}

	nav ul li {
		display: block;
		text-align: center;
		margin: 50px 10px;
		display: block;
	}

	nav ul li a {
		font-size: 25px;
	}

	.active_sidebar {
		opacity: 1;
		right: 0px;
		position: fixed;
		pointer-events: fill;
	}

	.social-navbar {
		display: flex;
	}

	.social-navbar a {
		margin: 15px;
	}

	.social-navbar a:hover {
		color: #fff;
	}
}

@media only screen and (max-width: 1100px) {
	.header-text {
		margin-top: 30%;
	}

	.layer {
		padding: 0 10px;
	}

	.layer h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	.layer p {
		font-size: 13px;
	}

	.layer a {
		font-size: 16px;
		margin-top: 15px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}


@media only screen and (max-width: 1091px) {
	.hobbies-col-1 ul {
		grid-template-columns: repeat(auto-fit, minmax(140px, auto));
	}
}

@media only screen and (max-width: 1054px) {
	.layer {
		padding: 0 20px;
	}
	
	.layer h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	
	.layer p {
		font-size: 15px;
	}
	
	.layer a {
		margin-top: 30px;
		font-size: 20px;
		line-height: 50px;
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 1029px) {
	.hobbies-col-1 ul {
		grid-template-columns: repeat(auto-fit, minmax(130px, auto));
	}
}

@media only screen and (max-width: 1000px) {
	.header-text {
		margin-top: 35%;
	}
}

@media only screen and (max-width: 966px) {
	.hobbies-col-1 ul {
    	grid-template-columns: repeat(auto-fit, minmax(120px, auto));
	}
}	

@media only screen and (max-width: 904px) {
	.hobbies-col-1 ul {
    	grid-template-columns: repeat(auto-fit, minmax(110px, auto));
	}
}

@media only screen and (max-width: 900px) {
	.header-text {
		margin-top: 40%;
	}

	.layer {
		padding: 0 20px;
	}
	
	.layer h2 {
		font-size: 25px;
		margin-bottom: 15px;
	}
	
	.layer p {
		font-size: 15px;
	}
	
	.layer a {
		margin-top: 20px;
		font-size: 16px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}

	.contact-col-2 {
		flex-basis: 55%;
	}
}

@media only screen and (max-width: 800px) {
	.header-text {
		margin-top: 45%;
	}

	.layer {
		padding: 0 10px;
	}

	.layer h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	
	.layer p {
		font-size: 13px;
	}

	.layer a {
		font-size: 16px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width: 768px) {
	#header .sidebar-icon {
		z-index: 2;
		top: 30px;
	}

	#header .logo h1 {
		font-size: 50px;
	}

	.header-text {
		margin-top: 50%;
	}

	.header-text h1 {
		font-size: 60px;
	}

	.about-col-1 {
		text-align: center;
	}

	.about-col-1 img {
		width: 50%;
		height: 100%;
	}
	
	.about-col-1, .about-col-2 {
		flex-basis: 100%;
	}

	.about-col-1 {
		margin-bottom: 30px;
	}

	.layer {
		font-size: 12px;
		padding: 0 20px;
	}
	
	.layer a {
		font-size: 18px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}

	.contact-col-1, .contact-col-2 {
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.header-text {
		margin-top: 53%;
	}

	.layer {
		padding: 0 10px;
	}
	
	.layer h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	.layer p {
		font-size: 11px;
	}
	
	.layer a {
		margin-top: 15px;
		font-size: 16px;
		line-height: 35px;
		width: 35px;
		height: 35px;
	}
}

@media only screen and (max-width: 691px) {
	.layer {
		padding: 0 40px;
	}
	
	.layer h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	
	.layer p {
		font-size: 17px;
	}
	
	.layer a {
		margin-top: 30px;
		font-size: 20px;
		line-height: 50px;
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 691px) {
	.hobbies-wrap {
		padding: 50px 0px 50px 0px;
	}

	.hobbies-col-1, .hobbies-col-2 {
		flex-basis: 100%;
	}

	.hobbies-col-3, .hobbies-col-4 {
		flex-basis: 100%;
	}

	.hobbies-col-5, .hobbies-col-6 {
		flex-basis: 100%;
	}

	.hobbies-col-2 {
		padding-top: 0px;
	}

	.hobbies-col-4 {
		padding-top: 0px;
	}

	.hobbies-col-6 {
		padding-top: 0px;
	}
}

@media only screen and (max-width: 600px) {
	.header-text {
		margin-top: 60%;
	}

	.about-col-1 img {
		width: 60%;
		height: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.header-text {
		margin-top: 55%;
	}

	.about-col-1 img {
		width: 70%;
		height: 100%;
	}

	.layer {
		padding: 0 20px;
	}

	.layer h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}
	
	.layer p {
		font-size: 15px;
	}
	
	.layer a {
		margin-top: 30px;
		font-size: 19px;
		line-height: 50px;
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 480px) {
	#header .logo h1 {
		font-size: 40px;
	}

	#header .sidebar-icon {
		z-index: 2;
		top: 25px;
	}
	
	.sub-title {
		font-size: 50px;
	}

	.about-col-2 {
		font-size: 15px;
	}

	.skill-container h2 {
		font-size: 15px;
	}

	.about-col-1 img {
		width: 75%;
		height: 100%;
	}

	.tab-links {	
		font-size: 16;
		margin-right: 20px;
	}
}

@media only screen and (max-width: 400px) {
	.header-text {
		margin-top: 65%;
	}

	.bar1, .bar2, .bar3 {
		width: 30px;
		height: 3px;
		margin: 8px 0;
	}

	.about-col-2 {
		font-size: 13px;
	}

	.skill-container h2 {
		font-size: 13px;
	}

	.tab-links {	
		margin-right: 15px;
	}

	.layer {
		padding: 0 15px;
	}

	.layer h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	.layer p {
		font-size: 13px;
	}
	
	.layer a {
		margin-top: 20px;
		font-size: 19px;
		line-height: 50px;
		width: 50px;
		height: 50px;
	}

	#hobbies h2 {
		font-size: 25px;
	}

	#hobbies p {
		font-size: 15px;
	}

	.footer p {
		font-size: 15px;
	}
}

@media only screen and (max-width: 320px) {
	#header .sidebar-icon {
		z-index: 2;
		top: 20px;
	}

	nav ul li a {
		font-size: 20px;
	}
	
	.sub-title {
		font-size: 40px;
	}

	.header-text {
		margin-top: 105%;
	}

	#header .logo h1 {
		font-size: 35px;
	}

	#header h1 {
		font-size: 50px;
	}

	#header h2 {
		font-size: 25px;
	}

	#header p {
		font-size: 13px;
	}

	.row {		
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.about-col-2 {
		font-size: 13px;
	}

	.skill-container h2 {
		font-size: 13px;
	}

	.tab-links {
		font-size: 15px;	
		margin-right: 10px;
	}

	.skill-container .progress-bar {
		width: 97%;
	}

	.service-list {
		justify-content: center;
	}

	.service-list div {
		padding: 40px 25px;
	}

	.port-list {
		justify-content: center;
	}

	.layer {
		padding: 0 10px;
	}

	.layer h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	
	.layer p {
		font-size: 12px;
	}
	
	.layer a {
		margin-top: 10px;
		font-size: 16px;
		line-height: 30px;
		width: 30px;
		height: 30px;
	}
}
