:root {
	--main-color: rgb(0, 183, 255);
	--second-color: #3D7699;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #080808;
	color: #fff;
}


.top-button {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 15px;
	border: none;
	outline: none;
	background-color: var(--main-color);
	color: #fff;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

.top-button:hover {
	color: var(--main-color);
	background-color: whitesmoke;
}

/* header */
#header {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/girlwithlaptop.jpg);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	padding: 10px 10%;
}

#header .logo {
	width: 140px;
	font-size: 60px;
}

#header .logo span {
	color: var(--main-color);
}

#header h1 {
	margin: 10px 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}

nav .fa {
	display: none;
}

.header-text {
	margin-top: 20%;
	font-size: 30px;
	line-height: 40px
}

.header-text h1 {
	font-size: 60px;
}

.header-text h4 {
	font-weight: 300;
}

.header-text p {
	font-size: 17px;
}

.header-text h1 span {
	color: var(--main-color);
}

/* about */
#about {
	padding: 80px 0;
	color: #ababab;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1 {
	flex-basis: 35%;
}

.about-col-1 img {
	width: 100%;
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 60%;
}

.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.tab-titles {
	display: flex;
	margin: 20px 0 40px;
}

.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.skill-container h4 {
	padding-bottom: 15px;
}

.skill-container .container {
  width: 100%;
  align-items: center;
}

.progress {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.skill-container .progress-bar {
	background: white;
	display: block;
	width: 100%;
	height: 15px;
	/* border: 1px solid rgba(0, 0, 0, 0.3); */
	border-radius: 10px;
	overflow: hidden;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
	position: relative;
	overflow: hidden;
}

.skill-container .progress-bar .percentage {
	width: 0;
	height: 100%;
	position: relative;
	background: linear-gradient(135deg, rgb(0, 183, 255)0%, rgb(116, 216, 255)100%);
	transition: all 3s ease-in-out;
	top: 0;
	left: 0;
	display: block;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0 20px 0px;
}

.tab-contents ul li span {
	color: var(--main-color);
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}

/* .service */
#services {
	padding: 80px 0;
}

.service-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.service-list div {
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.service-list div i {
	font-size: 70px;
	margin-bottom: 30px;
}

.service-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.service-list div a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.service-list div:hover {
	background: var(--main-color);
	transform: translateY(-10px);
}

/* portfolio */
#portfolio {
	padding: 80px 0;
}

.port-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.port {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.port img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	transition: height 0.5s;
}

.layer h3 {
	font-weight: bolder;
	margin-bottom: 20px;
}

.layer a {
	margin-top: 20px;
	color: var(--main-color);
	text-decoration: none;
	font-size: 20px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}

.port:hover img {
	transform: scale(1.1);
}

.port:hover .layer {
	height: 100%;
}

.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid var(--main-color);
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	transition: background 0.5s;
}

.btn:hover {
	background: var(--main-color);
}

/* contact */
.contact-col-1 {
	flex-basis: 35%;
}

.contact-col-2 {
	flex-basis: 60%;
}

.contact-col-1 p {
	margin-top: 30px;
}

.contact-col-1 p i {
	color: var(--main-color);
	font-size: 25px;
}

.social-icons {
	margin-top: 30px;
}
 .social-icons a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
 }

 .social-icons a:hover {
	color: var(--main-color);
	transform: translateY(-5px);
 }

 .btn.btn2 {
	display: inline-block;
	background: var(--main-color);
 }

 .contact-col-2 {
	width: 100%;
 }

 form input, form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
	resize: none;
 }

form .btn2 {
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

#msg {
	color: rgb(91, 153, 91);
	margin-top: -40px;
	display: block;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
}

@media only screen and (max-width: 1400px) {
	.layer {
		font-size: 16px;
		padding: 0 20px;
	}
	
	.layer a {
		font-size: 16px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}

@media only screen and (max-width: 1300px) {
	.layer {
		font-size: 14px;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 1200px) {
	.header-text {
		margin-top: 35%;
	}
}

@media only screen and (max-width: 1100px) {
	.layer {
		font-size: 12px;
		padding: 0 10px;
	}
}

@media only screen and (max-width: 1054px) {
	.layer {
		font-size: 16px;
		padding: 0 40px;
	}
	
	.layer a {
		font-size: 20px;
		line-height: 60px;
		width: 60px;
		height: 60px;
	}
}

@media only screen and (max-width: 900px) {
	nav .fa {
		display: block;
		font-size: 30px;
	}
	
	nav ul {
		background: var(--second-color);
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding: 50px;
		z-index: 2;
		transition: right 0.5s;
	}

	nav ul li {
		display: block;
		margin: 40px 10px;
	}

	nav ul li a {
		font-size: 20px;
	}

	nav ul .fa {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}

	.layer {
		font-size: 14px;
		padding: 0 20px;
	}
	
	.layer a {
		font-size: 18px;
		line-height: 50px;
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.layer {
		font-size: 12px;
		padding: 0 20px;
	}
	
	.layer a {
		font-size: 18px;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}

	.about-col-1, .about-col-2 {
		flex-basis: 100%;
	}

	.about-col-1 {
		margin-bottom: 30px;
	}

	.contact-col-1, .contact-col-2 {
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.header-text {
		margin-top: 60%;
		font-size: 25px;
	}

	.header-text h1 {
		font-size: 40px;
	}

	.sub-title {
		font-size: 40px;
	}

	.about-col-2 {
		font-size: 14px;
	}

	.tab-links {
		font-size: 16px;
		margin-right: 20px;
	}
}
